@model IEnumerable<Reciicer.Models.Entities.Premiacao>
@{
    ViewData["Title"] = "Listar Premiação";
}

<h1 class="display-6 text-center mb-4">@ViewData["Title"]</h1>

<div>
<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-plus"></i> Adicionar Premiação</a>
</p>
<table class="table table-striped text-center">
        <thead>
            <tr>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                    <th>@Html.DisplayNameFor(model => model.Ativo)</th>
                    <th>@Html.DisplayNameFor(model => model.PontuacaoRequerida)</th>

                    <th>Ações</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>

                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.Ativo)</td>
                <td>@Html.DisplayFor(modelItem => item.PontuacaoRequerida)</td>
 
                
                <td>
                    <a class="btn btn-primary " asp-action="Read" asp-route-Id="@item.Id">
                        <i class="fa-solid fa-circle-info text-white"></i>
                    </a>
                    <a class="btn btn-warning" asp-action="Update" asp-route-Id="@item.Id">
                        <i class="fa-solid fa-user-pen text-white"></i>
                    </a>

                    
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@item.Id">
                        <i class="fa-solid fa-trash"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel">Excluir @item.Descricao ?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                Esta operação não poderá ser revertida!<br><br>Deseja realmente excluir @item.Descricao ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-rotate-left"></i> Não</button>
                                <a class="btn btn-danger"  asp-action="Delete" asp-route-Id="@item.Id"><i class="fa-solid fa-trash"></i> Sim</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </td> 
            </tr>
        }
        </tbody>
    </table>  
</div>