@model Reciicer.Models.RecolhimentoViewModels.RecolhimentoCreateViewModel
@{
    ViewData["Title"] = "Criar Recolhimento";

    
}

<h1>@ViewData["Title"]</h1>

<div>
    
    <form method="post" asp-action="Create">
        
        <div class="form-group row my-3">
            <div class="col-md-5">
                <label  asp-for="Recolhimento.CooperativaId" class="control-label">Escolha uma Cooperativa: </label>
                <select asp-for="Recolhimento.CooperativaId" asp-items="@(new SelectList(Model.Cooperativas, "Id", "Nome"))" class="form-select form-select-md ">
                    <option value=""selected>Selecione uma Cooperativa </option>
                </select>
            </div>

            <div class="col-md-4">
                <label  asp-for="Recolhimento.DataRecolhimento" class="control-label">Data: </label>
                <input  asp-for="Recolhimento.DataRecolhimento" class="form-control" >
            </div>
            
            <input type="hidden" asp-for="Recolhimento.PontoColetaId" value="@Model.PontoColetaId" />
        </div>

        <table class="table table-striped" id="dataTableInit">
            <thead>
                <tr>
                    <th>Material</th>
                    <th>Quantidade Total</th>
                    <th>Peso Total</th>
                    <th>Quantidade</th>
                    <th>Peso</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.MateriaisTotais.Count(); i++)
                {
                    
                    var item = Model.MateriaisTotais.ElementAt(i);

                    <tr>    
                        <td>@item.Material</td>
                        <td>@item.QuantidadeTotal</td>
                        <td>@item.PesoTotal</td>
                        <td>
                            <input type="hidden" name="RecolhimentoMateriais[@i].MaterialId" value="@item.MaterialId"/>
                            <input type="number" name="RecolhimentoMateriais[@i].QuantidadeTotal" class="form-control" max="@item.QuantidadeTotal" oninput="validateInput(this)"  />
                        </td> 
                        <td>
                            <input type="number" name="RecolhimentoMateriais[@i].PesoTotal" class="form-control" max="@item.PesoTotal" oninput="validateInput(this)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        <div class="form-group mt-2">
            <input type="submit" class="btn btn-primary" value="Confirmar">
            <a asp-action="Index" class="btn btn-secondary">Voltar <i class="fa-solid fa-rotate-left"></i></a>
        </div>

    </form>

</div>

@section Scripts {
     <script src="~/js/pages/recolhimentoCreate.js" asp-append-version="true"></script> 
}