@model Reciicer.Models.RecolhimentoViewModels.RecolhimentoCreateViewModel
@{
    ViewData["Title"] = "Criar Recolhimento";

}

<h1 class="display-6 text-center mb-4">@ViewData["Title"]</h1>

<div>
    
    <form method="post" asp-action="Create">
        
        <div class="form-group row my-3">
            <div class="col-md-5">
                <label  asp-for="Recolhimento!.CooperativaId" class="control-label">Escolha uma Cooperativa: </label>
                <select asp-for="Recolhimento!.CooperativaId" asp-items="@(new SelectList(Model.Cooperativas, "Id", "Nome"))" class="form-select form-select-md ">
                    <option value=""selected>Selecione uma Cooperativa </option>
                </select>
            </div>

            <div class="col-md-4">
                <label  asp-for="Recolhimento!.DataRecolhimento" class="control-label">Data: </label>
                <input  asp-for="Recolhimento!.DataRecolhimento" class="form-control" >
            </div>
        </div>

        <table class="table table-striped nowrap" id="dataTableInit">
            <thead>
                <tr>
                    <th>Material</th>
                    <th>Estoque</th>
                    <th>Quantidade </th>
                    <th>Peso</th>
                    <th>Quantidade</th>
                    <th>Peso</th>
                </tr>
            </thead>
            <tbody>
             @for (int i = 0; i < Model.EstoqueMateriais!.Count(); i++)
              {
                    
                    var item = Model.EstoqueMateriais!.ElementAt(i);

                    <tr>    
                        <td>@item.Material!.Nome</td>
                        <td>@item.Estoque!.Codigo</td>
                        <td>@item.Quantidade</td>
                        <td>@item.Peso</td>
                        <td>
                            <input type="hidden" name="RecolhimentoEstoqueMateriais[@i].EstoqueMaterialId" value="@item.Id"/>
                            <input type="number" name="RecolhimentoEstoqueMateriais[@i].Quantidade" class="form-control" max="@item.Quantidade" oninput="validateInput(this)"  />
                        </td> 
                        <td>
                            <input type="number" name="RecolhimentoEstoqueMateriais[@i].Peso" class="form-control" max="@item.Peso" oninput="validateInput(this)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        <div class="form-group mt-2">
            <input type="submit" class="btn btn-primary" value="Confirmar">
            <a asp-action="Index" class="btn btn-secondary">Voltar <i class="fa-solid fa-rotate-left"></i></a>
        </div>

    </form>

</div>

@section Scripts {
     <script src="~/js/pages/recolhimentoCreate.js" asp-append-version="true"></script> 
}