@model Reciicer.Models.PontuacaoMaterialViewModels.PontuacaoMaterialCreateViewModel
@{
    ViewData["Title"] = "Atualizar Pontuaçao";
}

<h1>@ViewData["Title"]</h1>

<div>
   <form method="post" asp-action="Update">
     
    @Html.HiddenFor(model => model.PontuacaoMaterial.Id)
    
    <div class="form-group row ">
        <div class="col-md-6">
            <label asp-for="PontuacaoMaterial.TipoMaterialId" class="form-label">Escolha um Tipo de Material: </label>
            <select asp-for="PontuacaoMaterial.TipoMaterialId" asp-items="@(new SelectList(Model.TipoMaterial, "Id", "Nome", Model.PontuacaoMaterial.TipoMaterialId))" class="form-select form-select-md">
            </select>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-3">
            <label asp-for="PontuacaoMaterial.PontuacaoPeso" class="form-label">@Html.DisplayNameFor(model => model.PontuacaoMaterial.PontuacaoPeso):</label>
            <input asp-for="PontuacaoMaterial.PontuacaoPeso" class="form-control">
        </div>
        <div class="col-md-3">
            <label asp-for="PontuacaoMaterial.PontuacaoUnidade" class="form-label">@Html.DisplayNameFor(model => model.PontuacaoMaterial.PontuacaoUnidade):</label>
            <input asp-for="PontuacaoMaterial.PontuacaoUnidade" class="form-control">
        </div>
    </div>

        <div class="form-group mt-2">
            <button type="submit" class="btn btn-warning text-white">Atualizar <i class="fa-solid fa-pen"></i></button>
            <a asp-action="Index" class="btn btn-secondary">Voltar <i class="fa-solid fa-rotate-left"></i></a>
        </div>
    </form>
</div>