@model Reciicer.Models.HomeViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Reciicer - Adm";

    int rank = 1;
    List<string> labelsChart = new List<string>();
    List<int> quantidadeMateriaisChart = new List<int>();
    
    //mapeia as informações vindas do banco para deixar o grafico dinâmico
    foreach(var item in Model.TipoMaterialQuantidadeCharts!)
    {
        labelsChart.Add(item.TipoMaterialNome!);
        quantidadeMateriaisChart.Add(item.Quantidade);
    }


    //Clientes por Mês
    List<string> nomeMes = new List<string>();
    List<int> totalClientesMes = new List<int>();

    foreach(var item in Model.ClientePorMes!)
    {
        nomeMes.Add(item.NomeMes!);
        totalClientesMes.Add(item.TotalCliente);
    }

    //Coletas por Mês
    List<string> nomeMesColetas = new List<string>();
    List<int> totalColetasMes = new List<int>();

    foreach(var item in Model.ColetasPorMes!)
    {
        nomeMesColetas.Add(item.NomeMes!);
        totalColetasMes.Add(item.TotalColetaMes);
    }
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="overview-wrap justify-content-center pb-3 ">
                <h2 class="display-6 text-center mb-4">Dashboard</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <form action="Index" method="post">
                <div class="overview-wrap pb-3 ">
                    <label class="fs-5" for="anoDashboard">Ano: </label>
                    <select class="form-select ms-2" name="anoDashboard" id="anoDashboard">
                    @foreach (var ano in Model.ultimosAnos)
                    {
                        if(ano == Model.AnoSelecionado)
                        {
                            <option value="@ano" selected>@ano</option>
                        }
                        else
                        {
                            <option value="@ano">@ano</option>
                        }
                    }
                    </select>
                    <button type="submit" class="btn btn-primary ms-1">OK</button>   
                </div>
            </form>
        </div>
    </div>

    <div class="row m-t-25 ">
        <div class="col-sm-6 col-lg-4">
            <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                        <div class="text">
                            <h2>@Model.TotalCliente</h2>
                            <span>Total Clientes</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        <canvas id="widgetChart1"></canvas>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="overview-item overview-item--c2">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="fas fa-recycle"></i>
                        </div>
                        <div class="text">
                            <h2>@Model.TotalColeta</h2>
                            <span>Coletas</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        <canvas id="widgetChart4"></canvas> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="overview-item overview-item--c4">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-time"></i>
                        </div>
                        <div class="text">
                            <h2>@Model.DataUltimaColeta</h2>
                            <span>Última Coleta</span>
                        </div>
                    </div>
                    <div class="overview-chart"></div>
                        @* <canvas id="widgetChart2"></canvas> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="au-card chart-percent-card">
                <div class="au-card-inner">
                    <h3 class="title-2 tm-b-5"> Coleta por Tipo Material - @Model.AnoSelecionado</h3>
                    <div class="row no-gutters">
                        <div class="col-xl-6">
                            <div class="chart-note-wrap">
                                <div class="chart-note mr-0 d-block">
                                    <span class="dot dot--red"></span>
                                    <span>Plástico</span>
                                </div>
                                <div class="chart-note mr-0 d-block">
                                    <span class="dot dot--blue"></span>
                                    <span>Papel</span>
                                </div>
                                <div class="chart-note mr-0 d-block">
                                    <span class="dot dot--green"></span>
                                    <span>Vidro</span>
                                </div>
                                <div class="chart-note mr-0 d-block">
                                    <span class="dot dot--yellow"></span>
                                    <span>Metal</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="percent-chart">
                                <canvas id="percent-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                <div class="au-card-inner">
                    <div class="table-responsive">
                        <table class="table table-top-countries">
                            <thead class="text-white">
                                <tr>
                                    <th>Rank</th>
                                    <th>Nome</th>
                                    <th>@Html.DisplayNameFor(model => model.Top10Clientes!.First().PontuacaoTotal)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Top10Clientes!)
                                {
                                    

                                    <tr>
                                        <td>@rank</td>
                                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PontuacaoTotal)</td>
                                    </tr>

                                    rank++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>


@section Scripts {
    <script>
        let labelsChart = @Html.Raw(Json.Serialize(labelsChart));
        let quantidadeMateriaisChart = @Html.Raw(Json.Serialize(quantidadeMateriaisChart)); 

        //chart Clientes por mes 
        let nomeMes = @Html.Raw(Json.Serialize(nomeMes));
        let totalClientesMes = @Html.Raw(Json.Serialize(totalClientesMes)); 

        //chart Coleta por mês  
        let nomeMesColetas = @Html.Raw(Json.Serialize(nomeMesColetas));
        let totalColetasMes = @Html.Raw(Json.Serialize(totalColetasMes));
    </script>
    
    <script src="~/js/utils/colors.js"  asp-append-version="true"></script>  
    <script src="~/js/pages/homeIndex.js" asp-append-version="true"></script>
}