@model IEnumerable<Reciicer.Models.Entities.Cliente>
@{
    ViewData["Title"] = "Listar Clientes";
}


<h1 class="display-6 text-center mb-4">@ViewData["Title"]</h1>

<div>
<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-user-plus"></i> Adicionar Cliente</a>
</p>
<table class="table table-striped text-center" id="dataTableInit">
        <thead>
            <tr>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.Telefone)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.PontuacaoTotal)</th>
                
                    <th>Ações</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.PontuacaoTotal)</td>
                

                <td>
                <a class="btn btn-primary " asp-action="Read" asp-route-Id="@item.Id">
                     <i class="fa-solid fa-circle-info text-white"></i>
                </a>
                <a class="btn btn-warning" asp-action="Update" asp-route-Id="@item.Id">
                    <i class="fa-solid fa-user-pen text-white"></i>
                </a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@item.Id">
                    <i class="fa-solid fa-trash"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Excluir Cliente @item.Nome ?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            Esta operação não poderá ser revertida!<br><br>Deseja realmente excluir @item.Nome ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-rotate-left"></i> Não</button>
                            <a class="btn btn-danger"  asp-action="Delete" asp-route-Id="@item.Id"><i class="fa-solid fa-trash"></i> Sim</a>
                        </div>
                        </div>
                    </div>
                </div>
                </td> 
            </tr>
        }
        </tbody>
    </table>
</div>