@model IEnumerable<Reciicer.Models.Entities.PontoColeta>
@{
    ViewData["Title"] = "Listar Pontos de Coleta";
}
 
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        <a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-plus"></i> Adicionar Ponto de Coleta</a>
    </p>
    <table class="table table-striped ">
        <thead>
            <tr>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>Ações</th>
            </tr>
        </thead>
        <tbody> 
    @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                
                <td>
                    <a class="btn btn-primary " asp-action="Read" asp-route-Id="@item.Id">
                        <i class="fa-solid fa-circle-info text-white"></i>
                    </a>
                    <a class="btn btn-warning" asp-action="Update" asp-route-Id="@item.Id">
                        <i class="fa-solid fa-user-pen text-white"></i>
                    </a>

                    
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@item.Id">
                        <i class="fa-solid fa-trash"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel">Excluir Ponto de Coleta?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                Esta operação não poderá ser revertida!<br><br>Deseja realmente excluir ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-rotate-left"></i> Não</button>
                                <a class="btn btn-danger"  asp-action="Delete" asp-route-Id="@item.Id"><i class="fa-solid fa-trash"></i> Sim</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </td> 
            </tr>
        }
        </tbody>
    </table>
</div>