@model Reciicer.Models.Entities.TipoMaterial
@{
    ViewData["Title"] = "Detalhes Tipo Material";
}

<h1>@ViewData["Title"]</h1>

<div>
        <div class="form-group">
            <label  asp-for="Material.Nome" class="control-label">@Html.DisplayNameFor(model => model.Material.Nome)</label>
            <input asp-for="Material.Nome"  class="form-control" disabled>
        </div>

        <hr class="my-3">

        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Nome" class="form-label">@Html.DisplayNameFor(model => model.Nome)</label>
                <input asp-for="Nome" class="form-control" disabled>
            </div>
            <div class="col-md-5">
                <label asp-for="Descricao" class="form-label">@Html.DisplayNameFor(model => model.Descricao)</label>
                <input asp-for="Descricao" class="form-control" disabled>
            </div>
            <div class="col-md-3">
                <label asp-for="TempoDegradacao" class="form-label">@Html.DisplayNameFor(model => model.TempoDegradacao):</label>
                <input asp-for="TempoDegradacao" class="form-control" disabled>
            </div>
        </div>

        <div class="form-group mt-2">
            <a asp-action="Update" asp-route-Id="@Model.Id" class="btn btn-warning text-white ">Atualizar <i class="fa-solid fa-pen"></i></a>
            <a asp-action="Index" class="btn btn-secondary">Voltar <i class="fa-solid fa-rotate-left"></i></a>
        </div>

</div>