@model Reciicer.Models.Entities.Endereco
@{
    ViewData["Title"] = "Adicionar Endereço";
}

<h1 class="display-6 text-center mb-4">@ViewData["Title"]</h1>

<div class="row">
    <div class="col"> 
        <div class="container-fluid ">
            <form method="post" asp-action="Create">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label asp-for="Rua" class="col-form-label">@Html.DisplayNameFor(model => model.Rua)</label>
                        <input asp-for="Rua" class="form-control" >
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Numero" class="col-form-label">@Html.DisplayNameFor(model => model.Numero)</label>
                        <input asp-for="Numero" class="form-control" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label asp-for="Bairro" class="col-form-label">@Html.DisplayNameFor(model => model.Bairro)</label>
                        <input asp-for="Bairro" class="form-control" >
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Cep" class="col-form-label">@Html.DisplayNameFor(model => model.Cep)</label>
                        <input asp-for="Cep" class="form-control" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label asp-for="Cidade" class="col-form-label">@Html.DisplayNameFor(model => model.Cidade)</label>
                        <input asp-for="Cidade" class="form-control" >
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Estado" class="col-form-label">@Html.DisplayNameFor(model => model.Estado)</label>
                        <input asp-for="Estado" class="form-control" >
                    </div>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" class="btn btn-primary" value="Confirmar">
                    <a asp-action="Index" class="btn btn-secondary">Voltar <i class="fa-solid fa-rotate-left"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>